@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700;900&display=swap');
$fuente_prin: 'Noto Sans';
$back-color: white;
$other-color: black;
$sub-color: rgb(241, 129, 0);
$text-color: gray;
$foot_color: rgb(189, 189, 189);
$box-color: rgba(109, 109, 109, 0.8);