@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
/*HEADER SUPERIOR*/
html, body{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
    font-size: 14px;
    margin: 0;
    font-weight: 400;
}

header {
    display: flex;
    min-height: 60px;
    flex-direction: row; 
    background-color: white;
    padding: 5px;
    justify-content: space-between; 
    align-items: center; 
}

.logotipo {
    display: flex;
    align-items: center;
}

.logotipo img {
    height: 60px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.langs{
    display: flex;
    align-items: center; 
    color: black;
    gap: 30px;
    text-transform: uppercase;
    font-family: Noto Sans;
    font-weight: 600;
    font-size: 14px;
    padding-right: 20px;
}
a:hover{
    text-decoration: underline;
}
a.active{
    color: rgb(241, 129, 0);
}

/*HEADER INFERIOR*/
.menu__prin{
    width: 100%;
    height: 60px;
    background-color: black;
    padding: 0;
    margin: 0;
}

.inicio{
    max-width: 1200px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    margin: auto 0;
}

nav{
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav > ul{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

nav > ul > li{
    margin: 0;
}

nav > ul > li > a{
    font-family: 'Noto Sans', sans-serif;
    font-size: medium;
    font-weight: bold;
    display: flex;
    justify-self: flex-end;
    width: auto;
    height: 100%;
    color: white;
    padding: 0 20px;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
}

main{
    width: min(1348px, 100vw);
    margin: 0;
    flex: 1;
}
.Primero .contenido{
    font-family: "Noto Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 
}

.Primero .contenido h1{
    font-size: 10em;
}

.Primero .contenido .dere{
    text-align: right;
    transform: translateY(-30px);
}

.Primero .contenido .dere h2{
    font-size: 4.5em;
    font-weight: 200;
}

.Primero .imagen{
    width: 100%;
    height: 600px;
    position: relative;
}

.Primero .imagen img{
    position: absolute;
    height: 130%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
}
.seg figure img{
    width: 100%;
}

.seg{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(var(--row), 100px);
    margin-top: 50px;
    gap: 50px;
}

.seg-1 figure:nth-child(1){
    grid-column: 2 / 6;
    grid-row: 1;
}

.seg-1 figure:nth-child(2){
    grid-column:  3 / 5;
    grid-row: 1;
}

.seg-1 h2:nth-child(3){
    font-size: 7em;
    grid-column: 1 / 7;
    text-align: center;
    grid-row: 5;
    z-index: 1;
}

.seg-1 {
    --row: 2;
}
.seg-2{
    --row: 8;
    font-size: 1.7em;
    padding: 10px 30px;
}

.seg-2 div:nth-child(1){
    grid-column: 1 / 4;
    grid-row: 3;
}

.seg-2 div:nth-child(2){
    grid-column: 4 / 7;
    grid-row: 1;
}

.seg-2 div:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 4;
}

.seg-2 div:nth-child(4){
    grid-column: 1 / 4;
    grid-row: 6;
}


.redes img {
    width: 45px;
    padding: 15px;
    border-radius: 100%;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; 
    background-color: rgb(189, 189, 189); 
}

.last {
    display: flex;
    padding-top: 45px;
    padding-left: 65px;
}

.last p, .last h2 {
    font-family: Noto Sans;
    color: gray;
    text-transform: uppercase;
    font-weight: 500;
    font-size: small;
    margin-left: 20px;
}

.last img {
    height: 50px;
    width: 170px;
}

@media (max-width: 768px) {
    nav.idio, .first__section,
    .seco__section, .third__section,
    .four__section, .five__section
    .last {
        flex-direction: column;
    }
}